<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <h1><%= title %></h1>
    <h2>Welcome to <%= restaurant.name %></h2>
    <p>Address: <%= restaurant.address %></p>
    <p>Phone: <%= restaurant.phone %></p>
    <h2>Menu</h2>
    <ul>
      <% restaurant.menu.forEach(item => { %>
      <li>
        <strong><%= item.name %></strong>: <%= item.details %>. Price: $<%=
        item.price %>. Rating: <%= item.rating %>/5
      </li>
      <% }) %>
    </ul>
  </body>
</html>
